// ROBOTO=====================================================
// ROBOTO=====================================================
// ROBOTO=====================================================

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: local('Roboto'),
    url("../../fonts/roboto/Roboto-Regular.woff2") format('woff2'),
    url("../../fonts/roboto/Roboto-Regular.woff") format('woff'),
    url("../../fonts/roboto/Roboto-Regular.eot") format('eot');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: local('Roboto'),
    url("../../fonts/roboto/Roboto-Medium.woff2") format('woff2'),
    url("../../fonts/roboto/Roboto-Medium.woff") format('woff'),
    url("../../fonts/roboto/Roboto-Medium.eot") format('eot');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: local('Roboto'),
    url("../../fonts/roboto/Roboto-Bold.woff2") format('woff2'),
    url("../../fonts/roboto/Roboto-Bold.woff") format('woff'),
    url("../../fonts/roboto/Roboto-Bold.eot") format('eot');
  font-display: swap;
}

// LATO=====================================================
// LATO=====================================================
// LATO=====================================================

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: local('Roboto'),
    url("../../fonts/lato/Lato-Bold.woff2") format('woff2'),
    url("../../fonts/lato/Lato-Bold.woff") format('woff'),
    url("../../fonts/lato/Lato-Bold.eot") format('eot');
  font-display: swap;
}
